.form-group{margin-left: 25px;}
.text-line {
    background-color: transparent;
    color: #000000;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000000 1px;
    padding: 3px 10px;
    width: 40%;
    margin-bottom: 5px;
}
.btn {
    background-color: white;
    border: none;
    color: black;
    padding: 12px 16px;
    font-size: 22px;
    cursor: pointer;
}
.readonly{
    width: 70px;  
}
